* { margin:0; padding:0; box-sizing:border-box; }
body {
    color: purple;
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
header{
    background-size: cover;
}

div.andrewmakesfizzybeerthatstainsourshittycarpet img {
    text-align: center;
    width: 40%;
    padding: 30px 0px 30px 0px;
}
div.andrewmakesfizzybeerthatstainsourshittycarpet:hover{
    background: url(images/png/header_hover.png) no-repeat center center fixed;
    background-size: cover;

}
div.andrewmakesfizzybeerthatstainsourshittycarpet{
    background: url(images/png/header.png) no-repeat center center fixed;
    background-size: cover;
    height:90vh;

}

nav {
    text-align: center;
    width: 100%;
    padding: 0 0 0 0;

}

nav li {
    margin: 0;
    display: inline-block;
   
    height:50px;
    padding-top:10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom:10px;
    text-transform:uppercase;
}
nav li:last-child {
}

nav a {
    color: #a0a0a0;
    text-decoration: none;
    font-size: 1.62em;
    padding:5px;  
}

nav a:hover {color: #53efdf;}
#commentWrapper {
	background:#fff;
	margin:0;
	position: absolute;
	width:100%;
	z-index:9999;
}
#comment {
	margin:0;
	position: absolute;
	top:0;
	width:100%;
}
#comment.fixed {
	background:#fff;
	position: fixed;
	top: 0;
	visibility:visible;
	width:100%;
}
#portfolio{
    width: 100%;
    padding-bottom: 100px ;
}


a.cervelo{
    display:block;
    float: left;
    background:rgba(0,133,252,.8);
    width: 47%;
    padding: 0 0 0 0;
    height:300px;
    border: 5px solid gray;
    margin: 10px; 
}
a.cervelo:hover {
    background:rgba(0,133,252,1);
    transition-duration:.5s;
}
#portfolio div {
    float: left;
    width: 47%;
    padding: 0 0 0 0;
    height:300px;
    border: 5px solid gray;
    margin: 10px; 
}
div.modelo_cinco{
    background: url(images/png/modelo_cinco_thumb.png) no-repeat center;
}

div.pac_summer{
    background: url(images/png/pac_thumb.png) no-repeat center ;
}

div.vic_holiday{
    background: url(images/png/vic_thumb.png) no-repeat center ;
}


hr {
  background: #ddd; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 25p;
  border: none; 
}




