
}
* { margin:0; padding:0; box-sizing:border-box; }


body {
    color: white;
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    background: url("../images/angry_carrot_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    
}

section {
    margin: 25px 0 175px 0;
}

h1 {
    font-size: 1.62em;
    /*font-weight: bold;*/
    padding: 25px 0 25px 0;
}

hr {
    width: 10%;
    margin: 0 auto;
}

p{
    font-family: 'oswald', sans-serif;
    font-weight: 300;
    margin: 25px auto 0 auto;
    line-height: 200%
    text-align: justify;
    width: 480px;
}

header {
    margin: 0 40 0 0;
}

header img {
    margin:0 0 0;
    padding: 40px
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    /*padding: 15px 0 15px 0;*/
}

nav li {
    margin: 0 10 0 0 ;
    display: inline-block;
    width: 200px;
    border-left:2px solid #fff;
    height:50px;
    padding-top:10;
    text-transform:uppercase;
}
nav li:last-child {
    border-right:2px solid #fff;
}

nav a {
    color:white;
    text-decoration: none;
    font-size: 1.62em;
    padding:5px;  
}

nav a:hover {color: #0cf6ac;}
